# dependencies
node_modules/

# build output
.next/
out/
build/

# lockfiles
bun.lock

# env & local state
.env
.env.*
.devmode.json

# typescript
*.tsbuildinfo
next-env.d.ts

# static assets
public/

# editor / OS
.idea/
.DS_Store